/* twitter demetricator */
/* pre-load CSS */
/* mirrored in userscript demetricatedStyle */

/* used in tweetdeck? */
.ProfileCardStats-statValue, 
.ProfileTweet-actionCountForPresentation, 
.ProfileNav-value, 
a[data-tweet-stat-count] strong, 
.ep-MetricAnimation,
.ep-MetricValue, 
.stats li a strong,
.MomentCapsuleLikesFacepile-countNum
{ 
  opacity:0; 
} 

.count-wrap
{
    display:none;
}

/* tweetdeck specific */
span.js-ticker-value,
.prf-stats li a strong,
.like-count, .retweet-count, .reply-count
{
  opacity:0;
}

/* tweetdeck vids on twitter/i/videos/* */
#playerContainer .view-counts-display {
    /*display:none;*/
    opacity:0;
}


/* new twitter */
div:not(.ProfileTweet-actionList)[aria-label="Tweet actions"] span, // like/retweet/reply metrics in feed
div[data-testid="like"] div span, // like tweet metrics
div[data-testid="unlike"] div span, // like tweet metrics if you liked it
div[data-testid="reply"] div span, // reply tweet metrics
div[data-testid="retweet"] div span, // retweet tweet metrics
div[data-testid="unretweet"] div span, // unretweet tweet metrics
a.r-jwli3a[aria-haspopup] span div div, // tweet detail page like/retweet/reply
div.r-7o8qx1 div.r-axxi2z, // like metrics on individual tweet pages (e.g. /bengrosser/status/0982734...)
div.css-1dbjc4n a.css-4rbku5 span.r-vw2c0b, // profile and popout following/follower metrics 4/1
span span.r-jwli3a // following/followers on profile 3/25
{
    display:none;
    opacity:0;
}

/* need to add to inverse */
a[dir="auto"] div.css-1dbjc4n.r-xoduu5.r-1udh08xa, 
a[dir="auto"] div.css-1dbjc4n.r-xoduu5.r-1udh08x:not(.r-h9hxbl), /* likes/etc on single tweet page */ 
div.css-1dbjc4n.r-1w6e6rj a[dir="auto"] span:nth-child(1) span,
div.css-1dbjc4n.r-ku1wi2 a[dir="auto"] span:nth-child(1) span /* new following/follower profile */
{
    display:none;
}
