/* twitter demetricator */
/* pre-load CSS */
/* mirrored in userscript demetricatedStyle */

.ProfileCardStats-statValue, 
.ProfileTweet-actionCountForPresentation, 
.ProfileNav-value, 
a[data-tweet-stat-count] strong, 
.ep-MetricAnimation,
.ep-MetricValue, 
.stats li a strong,
.MomentCapsuleLikesFacepile-countNum
{ 
  opacity:0; 
} 

.count-wrap
{
    display:none;
}

/* tweetdeck specific */
span.js-ticker-value,
.prf-stats li a strong,
.like-count, .retweet-count, .reply-count
{
  opacity:0;
}

/* tweetdeck vids on twitter/i/videos/* */
#playerContainer .view-counts-display {
    /*display:none;*/
    opacity:0;
}


/* new twitter */
div:not(.ProfileTweet-actionList)[aria-label="Tweet actions"] span, // like/retweet/reply metrics in feed
div.rn-z2knda.rn-1wbh5a2 a > div > span:first-child, // following/followers in popoutside
a.rn-jwli3a span div div, // tweet detail page like/retweet/reply
div.rn-7o8qx1 div.rn-axxi2z, // like metrics on individual tweet pages (e.g. /bengrosser/status/0982734...)
a div span span.rn-vw2c0b, // profile hovercard following/follower metrics
span span.rn-jwli3a // following/followers on profile
{
    /*opacity:0;*/
    display:none;
}

